h1 {
  justify-content: center;
}

.businessCard {
  width: 380px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px black solid;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
}

#addBusinessHeader {
  margin: 5px;
}

.businessPic {
  height: 150px;
  width: auto;
}

.businesses {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1300px;
}

.businessDescription {
  font-size: larger;
  font-weight: bold;
}

.businessName {
  font-size: 20pt;
  color: #111111;
  text-decoration: none;
  margin-bottom: 10px;
}

.business-form-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 650px;
  margin: 10px;
  border: 2px black solid;
  border-radius: 15px;
  background-color: white;
}

.business-div {
  display: flex;
  justify-content: space-between;

}

#show-form {
  display: none;
}

#getStartedbutton {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  background-color: #ff0048;
  color: white;
  cursor: pointer
}

.business-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#cancelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  background-color: #ff0048;
  color: white;
  cursor: pointer
}
