.form-input {
  margin: 2px;
  border-radius: 2px;
}

#businessSubmitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  background-color: #ff0048;
  color: white;
  cursor: pointer
}

.errorList {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  flex-direction: column;
}
